<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HoneyBee.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FA4109771E9CFBC4002A6BA6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA473BB71E352CB1007E4D61</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA473BC01E352CB1007E4D61</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA5995941E4B58B5001744ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA7AE6721E53314E007A5711</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA7AE6851E53314F007A5711</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
